<script src="/ruffle/ruffle.js"></script>
<object width="600" height="400">
    <param name="movie" value="http://brightenfield.org/mark/games/4-27-06/n-game.swf">
    <embed src="http://brightenfield.org/mark/games/4-27-06/n-game.swf">
    </embed>
</object>
